@model Presentation.Models.HomeViewModel

<link rel="stylesheet" href="~/css/homeStyle.css" />

<div>
    <h2>Budget: @Model.Budget.Sum</h2>
</div>

@if (Model.Limit != null && Model.Limit.LimitStatus)
{
    <div class="warning-message">
        <p class="wtext">Limit: @Model.Limit.UserLimit - Total Expenses: @Model.Limit.TotalSum - You have exceeded your limit!!!</p>
    </div>
}


<div class="home-div">
    <h2>Add Transaction</h2>
    <form id="transactionForm" asp-action="AddTransaction" method="post">
        <div>
            <label for="type">Type:</label>
            <select name="Type" id="type">
                <option value="Income" selected>Income</option>
                <option value="Expense">Expense</option>
            </select>
        </div>
        <div>
            <label for="categoryId">Category:</label>
            <select name="CategoryId" id="categoryId">
                @foreach (var category in Model.IncomeCategories)
                {
                    <option value="@category.IdCategory">@category.Name</option>
                }
            </select>
        </div>
        <div>
            <label for="sum">Sum:</label>
            <input type="number" name="Sum" id="sum" step="1" required>
        </div>
        <button type="submit">Add Transaction</button>
    </form>
</div>

<div class="home-div transactionHistory">
    <h2>Transaction History</h2>
    <table>
        <tr>
            <th>Type</th>
            <th>Category</th>
            <th>Sum</th>
            <th>Time</th>
        </tr>
        @foreach (var transaction in Model.History)
        {
            <tr class="@transaction.TransactionType.ToLower()">
                <td>@transaction.TransactionType</td>
                <td>@transaction.Category</td>
                <td>@transaction.Sum</td>
                <td>@transaction.Date.ToString("dd.MM.yyyy")</td>
            </tr>
        }
    </table>
</div>

<script>
    var incomeCategories = @Html.Raw(Json.Serialize(Model.IncomeCategories));
    var expenseCategories = @Html.Raw(Json.Serialize(Model.ExpenseCategories));
</script>
<script src="~/js/transactionForm.js"></script>