@model Presentation.Models.HomeViewModel

<div class="home-div">
    <h2 data-lang="en">Budget: @Model.Budget</h2>
    <h2 data-lang="uk" style="display: none;">Бюджет: @Model.Budget</h2>

    @if (Model.IncomeLimit != null && Model.IncomeLimit.LimitStatus)
    {
        <div class="limit-warning-income limit-warning" data-lang="en">
            <p>Limit: @Model.IncomeLimit.UserLimit - Total Income: @Model.IncomeLimit.TotalSum - Your income has exceeded limit!!!</p>
        </div>
        <div class="limit-warning-income limit-warning" data-lang="uk" style="display: none;">
            <p>Ліміт: @Model.IncomeLimit.UserLimit - Загальні Доходи: @Model.IncomeLimit.TotalSum - Ви перевищили ліміт!!!</p>
        </div>
    }

    @if (Model.ExpenseLimit != null && Model.ExpenseLimit.LimitStatus)
    {
        <div class="limit-warning-expense limit-warning" data-lang="uk">
            <p>Ліміт: @Model.ExpenseLimit.UserLimit - Загальні витрати: @Model.ExpenseLimit.TotalSum - Ви перевищили ліміт!!!</p>
        </div>
        <div class="limit-warning-expense limit-warning" data-lang="en" style="display: none;">
            <p>Limit: @Model.ExpenseLimit.UserLimit - Total Expenses: @Model.ExpenseLimit.TotalSum - You have exceeded your limit!!!</p>
        </div>
    }
</div>

<div class="home-div">
    <h2 data-lang="uk">Додати транзакцію</h2>
    <h2 data-lang="en" style="display: none;">Add Transaction</h2>
    <form id="transactionForm" asp-action="AddTransaction" method="post">
        <div>
            <label for="type" data-lang="en">Type:</label>
            <label for="type" data-lang="uk" style="display: none;">Тип:</label>
            <select name="Type" id="type">
                <option value="Income" selected data-lang="en">Income</option>
                <option value="Expense" data-lang="en">Expense</option>
                <option value="Income" data-lang="uk" style="display: none;">Дохід</option>
                <option value="Expense" data-lang="uk" style="display: none;">Витрата</option>
            </select>
        </div>
        <div>
            <label for="categoryId" data-lang="en">Category:</label>
            <label for="categoryId" data-lang="uk" style="display: none;">Категорія:</label>
            <select name="CategoryId" id="categoryId">
                @foreach (var category in Model.IncomeCategories)
                {
                    <option value="@category.IdCategory">@category.Name</option>
                }
            </select>
        </div>
        <div>
            <label for="sum" data-lang="en">Sum:</label>
            <label for="sum" data-lang="uk" style="display: none;">Сума:</label>
            <input type="number" name="Sum" id="sum" step="1" required>
        </div>
        <button type="submit" data-lang="en">Add Transaction</button>
        <button type="submit" data-lang="uk" style="display: none;">Додати транзакцію</button>
    </form>
</div>

<div class="home-div transactionHistory">
    <h2>Transaction History</h2>
    <table>
        <tr>
            <th data-lang="en">Type</th>
            <th data-lang="en">Category</th>
            <th data-lang="en">Sum</th>
            <th data-lang="en">Time</th>
            <th data-lang="uk" style="display: none;">Тип</th>
            <th data-lang="uk" style="display: none;">Категорія</th>
            <th data-lang="uk" style="display: none;">Сума</th>
            <th data-lang="uk" style="display: none;">Час</th>
        </tr>
        @foreach (var transaction in Model.History)
        {
            <tr class="@transaction.TransactionType.ToLower()">
                <td>@transaction.TransactionType</td>
                <td>@transaction.Category</td>
                <td>@transaction.Sum</td>
                <td>@transaction.Date.ToString("dd.MM.yyyy")</td>
            </tr>
        }
    </table>
</div>

<script>
    var incomeCategories = @Html.Raw(Json.Serialize(Model.IncomeCategories));
    var expenseCategories = @Html.Raw(Json.Serialize(Model.ExpenseCategories));
</script>
<script src="~/js/transactionForm.js"></script>